.container{
    padding: 32px;
}
.pagination{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    list-style: none;
    margin-bottom: 5px;
}
.page-num,.page-pre,.page-next{
    border-radius: 30px;
    font-weight: bold;
    color: black;
    background: wheat;
    cursor: pointer;
    padding-top: 3px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.page-num:hover,.page-pre:hover,.page-next:hover{
    background: white;

}
